{% import 'macro/action.html.twig' as action %}

{% if access.list %}
    {{ action.btn_list_link_tool(path(route_base ~ '_index')) }}
{% endif %}
{% if access.new %}
    {{ action.btn_new_link_tool(path(route_base ~ '_new')) }}
{% endif %}
{% if access.edit %}
    {{ action.btn_edit_link_tool(path(route_base ~ '_edit', {'id': entity.id})) }}
{% endif %}
{% if access.delete and entity.activo == true %}
    {{ action.btn_delete_form_tool(path(route_base ~ '_delete', {'id': entity.id}), csrf_token('delete' ~ entity.id)) }}
{% endif %}
{% if access.delete and entity.activo == false %}
    {{ action.btn_restore_form_tool(path(route_base ~ '_delete', {'id': entity.id}), csrf_token('delete' ~ entity.id)) }}
{% endif %}
{% if access.master %}
    <div class="dropdown-divider"></div>
    {{ action.btn_delete_forever_form_tool(path(route_base ~ '_delete_forever', {'id': entity.id}), csrf_token('delete_forever' ~ entity.id)) }}
{% endif %}