{% extends 'base.html.twig' %}
{% import 'macro/breadcrumb.html.twig' as breadcrumb %}
{% import 'macro/action.html.twig' as action %}
{% import 'macro/pagination.html.twig' as pagination %}

{% set _title = 'Kardex' %}
{% set _main_title = 'Listado' %}
{% set _section =  'kardex_index' %}

{% block _breadcrumb %}
    {{ breadcrumb.show(_title) }}
{% endblock %}

{% block _main %}
    <div>
        <table class="table" style="text-align: center">
            <thead style="color: black;border: solid;font-weight: bold;" >
                <tr style="background: #13a4a4">
                    <td rowspan="2">Fecha</td>
                    <td rowspan="2">Producto</td>
                    <td colspan="3">Ingresos</td>
                    <td colspan="3">Salidas</td>
                    <td colspan="2">Saldo</td>
                </tr>
                <tr style="background: #33FFE0">
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Total</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Total</th>
                    <th>Cantidad</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody style="color: black;border: solid">
                {% for item in data %}
                    {% if item.compra is defined %}
                        {% for compra in item.compra %}
                            <tr>
                                <td>{{ compra.fecha }}</td>
                                <td>{{ compra.producto }}</td>
                                <td>{{ compra.precio }}</td>
                                <td>{{ compra.cantidad }}</td>
                                <td>{{ compra.total }}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{{ compra.cantidadSaldo }}</td>
                                <td>{{ compra.totalSaldo }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    {% if item.venta is defined %}
                        {% for venta in item.venta %}
                            <tr>
                                <td>{{ venta.fecha }}</td>
                                <td>{{ venta.producto }}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{{ venta.precio }}</td>
                                <td>{{ venta.cantidad }}</td>
                                <td>{{ venta.total }}</td>
                                <td>{{ venta.cantidadSaldo }}</td>
                                <td>{{ venta.totalSaldo }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}

{% block _main_footer %}

{% endblock%}

{% block _main_options %}
    <form id="form_search" class="mt-5" autocomplete="off">
        <div class="form-group row">
            <label class="col-sm-1 col-4 col-form-label" for="filter_size">Buscar:</label>

            <div class="col-sm-2 col-4">
                <select id="busProducto" class="form-select form-control m-input" data-control="select2" data-placeholder="Select an option" name="producto" required>
                    <option value="0" disabled selected> SELECCIONAR </option>
                    {% for producto in productos %}
                        {% if (idProducto == producto.id ) %}
                            <option value="{{ producto.id }}"  selected>{{ producto.descripcion }}  </option>
                        {% else %}
                            <option value="{{ producto.id }}">{{ producto.descripcion }}  </option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-4 col-8">
                <input type="month" name="fecha" id="fecha" class="form-control" value="{{ fecha }}">
            </div>
            <div class="col-md-3 text-right">
                <button class="btn-send btn btn-rounded btn-noborder btn-secondary"><i class="la la-search"></i>Buscar</button>
                <button type="reset" class="btn-clean btn btn-rounded btn-noborder btn-outline-secondary">Limpiar</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block _main_tools %}

{% endblock %}

{% block _body_tools_ico %}

{% endblock %}

{% block _body_tools %}

{% endblock %}

{% block _stylesheets %}
{% endblock %}

{% block _javascripts %}
    <script>
        jQuery(document).ready(function () {
            $(document).on('click', '.btn-send', function () {
                window.location = '{{ path('kardex_index') }}';
            });
            $(document).on('click', '.btn-clean', function () {
                window.location.href = '{{ path('kardex_index') }}';
            });
        });
    </script>
{% endblock %}