{% import 'macro/action.html.twig' as action %}

{{ action.frm_start(form) }}
    {{ action.frm_column(
        action.frm_column_field_select(form.vendedor, '', '', 2),
        null,
        null,
        null,
        1
    ) }}
    {{ action.frm_column(
        action.frm_column_field(form.codigo, '', '', 2),
        null,
        null,
        null,
        1
    ) }}
<div id="pago_module">
    {{ action.frm_column(
        action.frm_column_field_select(form.cliente, '', '', 2),
        null,
        null,
        null,
        1
    ) }}
    {{ action.frm_column(
        action.frm_column_field_select(form.tipoPago),
        action.frm_column_field_select(form.tipoMoneda)
    ) }}
    {{ action.frm_column(
        action.frm_column_field(form.cantidadRecibida),
        action.frm_column_field(form.cambio)
    ) }}
</div>
    {{ action.frm_column(
        action.frm_column_field_collection(form.detallePedidos,'','','',2),
        null,
        null,
        null,
        1
    ) }}
    {{ action.frm_column(
        action.frm_column_field(form.precioFinal),
        null,
        null,
        null,
        2
    ) }}
    {{ action.frm_column(
        action.frm_column_btn(button_label|default('Guardar')),
        null,
        null,
        null,
        2
    ) }}

{{ action.frm_end(form) }}
