{% extends 'base.html.twig' %}
{% import 'macro/breadcrumb.html.twig' as breadcrumb %}
{% import 'macro/action.html.twig' as action %}
{% import 'macro/pagination.html.twig' as pagination %}

{% set _title = 'Usuario Rol' %}
{% set _main_title = 'Listado' %}
{% set _section =  'usuario_rol_index' %}

{% block _breadcrumb %}
    {{ breadcrumb.show('Usuarios') }}
{% endblock %}

{% block _main %}
    <div class="table-responsive">
        {{ action.tbl_start('table-sm') }}
        {{ action.thead_start() }}
        <tr>
            {{ action.th('#', false, 'text-center') }}
            {{ action.th('Datos', false, 'd-block d-sm-none') }}
            {{ action.th('Nombre', true, 'd-none d-sm-table-cell') }}
            {% if access.isSuperAdmin -%}
                {{ action.th('Rol', true, 'd-none d-sm-table-cell') }}
            {% endif %}
            {{ action.th('Permisos', true, 'd-none d-sm-table-cell') }}
            {% include 'security/_config_table_th.html.twig' %}
            {{ action.th('Activo', true, 'text-center d-none d-sm-table-cell') }}
            <th></th>
        </tr>
        {{ action.thead_end() }}
        {{ action.tbody_start() }}
        {% for usuario_rol in paginator.results %}
            <tr>
                <td class="text-center">{{ loop.index }}</td>
                <td class="d-block d-sm-none font-size-xs">
                    {{ usuario_rol.nombre }}<br>
                    {{ usuario_rol.rol }}<br>
                    {{ usuario_rol.activo | yesno_custom | raw }}
                </td>
                <td class="d-none d-sm-table-cell">{{ usuario_rol.nombre}}</td>
                {% if access.isSuperAdmin -%}
                    <td class="d-none d-sm-table-cell">{{ usuario_rol.rol }}</td>
                {% endif %}
                <td class="d-none d-sm-table-cell">
{#                    {% for permiso in usuario_rol.permisos %}#}
{#                        <span class="badge badge-{% if permiso.maestro %}success{% else %}secondary{% endif %}">{{ permiso.menu }}</span>#}
{#                    {% endfor %}#}
                </td>
                {% include 'security/_config_table_td.html.twig' with {'entity': usuario_rol} %}
                <td class="d-none d-sm-table-cell">{{ usuario_rol.activo | yesno_custom | raw }}</td>
                <td>
                    {% if access.has('show', usuario_rol) %}
                        {{ action.btn_show_link2_ico(path('usuario_rol_show', {'id': usuario_rol.id})) }}
                    {% endif %}
                    {% if access.has('edit', usuario_rol) %}
                        {{ action.btn_edit_link2_ico(path('usuario_rol_edit', {'id': usuario_rol.id})) }}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No hay registros</td>
            </tr>
        {% endfor %}
        {{ action.tbody_end() }}
        {{ action.tbl_end() }}
    </div>
    {{ pagination.show(paginator, _section) }}
{% endblock %}

{% block _main_footer %}
    {% include 'crud/_index_links.html.twig' with {'route_base': 'usuario_rol'} %}
{% endblock%}

{% block _main_options %}
    {% include 'crud/_index_filter.html.twig' %}
{% endblock %}

{% block _main_tools %}
    {% include 'crud/_tools_ico.html.twig' %}
{% endblock %}

{% block _body_tools_ico %}
    {% include 'crud/_index_links_tool.html.twig' with {'route_base': 'usuario_rol'}  %}
{% endblock %}

{% block _body_tools %}
    {% include 'crud/_index_links_ico.html.twig' with {'route_base': 'usuario_rol'}  %}
{% endblock %}

{% block _stylesheets %}
{% endblock %}

{% block _javascripts %}
    <script>
        $(document).ready(function () {
            $(document).on('change', '#filter_size', function () {
                let route = '{{ path('usuario_rol_index') }}';
                route = route + "?" + 'n=' + $('#filter_size option:selected').val();
                route = route + "&" + 'b=' + $('#filter_text').val();
                window.location = route;
            });

            $(document).on('click', '.btn-send', function () {
                window.location = '{{ path('usuario_rol_index') }}';
            });

            $(document).on('click', '.btn-clean', function () {
                window.location.href = '{{ path('usuario_rol_index') }}';
            });
        });
    </script>
{% endblock %}