{% extends 'base.html.twig' %}
{% import 'macro/breadcrumb.html.twig' as breadcrumb %}
{% import 'macro/action.html.twig' as action %}

{% set _title = 'Roles' %}
{% set _main_title = 'Nuevo' %}
{% set _section =  'usuario_rol_index'%}

{% block _breadcrumb %}
    {{ breadcrumb.show2('Roles','usuario_rol_index','Nuevo') }}
    <script>
        setTimeout(function() {
            Select2();
        }, 1000);
    </script>
{% endblock %}

{% form_theme form _self %}

{% block _usuario_rol_permissions_entry_attributes_entry_label %}
{% endblock %}

{% block _usuario_rol_permissions_entry_attributes_entry_widget %}
    {% import 'macro/action.html.twig' as actions %}
    {{ actions.frm_field_checkbox(form) }}
    <script>
        setTimeout(function() {
            Select2();
        }, 1000);
    </script>
{% endblock %}

{% block _main %}

    {{ include('usuario_rol/_form.html.twig') }}
    <script>
        setTimeout(function() {
            Select2();
        }, 1000);
    </script>

{% endblock %}

{% block _main_tools %}
    <ul class="nav nav-pills nav-pills--success">
        <li class="nav-item">
            {{ action.btn_list_link_ico(path('usuario_rol_index')) }}
        </li>
    </ul>
{% endblock %}

{% block _javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/collection.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/select2.js') }}" type="text/javascript"></script>
    <script>
        jQuery(document).ready(function() {
            Select2();
            Collection.init('#usuario_rol_permissions');
        });
    </script>
{% endblock %}