{% for key,values in _data %}
    <div data-kt-menu-trigger="click" class="menu-item menu-accordion {% if values.clases is defined %}{{ values.clases }}{% endif %}">
        <span class="menu-link">
            {% if values.icono is defined %}
                <span class="menu-icon">
                    <i class="bi bi-gear"></i>
{#                    <i class="{{ values.icono }}"></i>#}
                </span>
            {% endif %}
            <span class="menu-title">{{ key | upper }}</span>
            {% if values.menus is defined %}<span class="menu-arrow"></span>{% endif %}
        </span>
        {% if values.menus is defined and values.menus | length > 0 %}
            <div class="menu-sub menu-sub-accordion menu-active-bg">
                {% for menu in values.menus %}
                    <div class="menu-item">
                        <a class="menu-link {% if menu.ruta == _section %}active{% endif %}" href="{{ path(menu.ruta) }}">
                        <span class="menu-bullet">
                            <span class="bullet bullet-dot"></span>
                        </span>
                            <span class="menu-title">{{ menu.nombre }}</span>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endfor %}