{% macro generator(menus) %}
    {% for menu in menus|sort((a, b) => a.orden <=> b.orden ?: a.nombre <=> b.nombre) %}
        {% if menu.submenu | length > 0 %}
            <div data-kt-menu-trigger="click" class="menu-item menu-accordion {% if menu.selected is defined %}hover show{% endif %}">
                <span class="menu-link">
                    {% if menu.icono %}
                        <span class="menu-icon">
                            <i class="{{ menu.icono }}"></i>
                        </span>
                    {% endif %}
                    <span class="menu-title">{{ menu.nombre | upper }}</span>
                    <span class="menu-arrow"></span>
                </span>
                <div class="menu-sub menu-sub-accordion menu-active-bg">
                    {{ _self.generator(menu.submenu) }}
                </div>
            </div>
        {% else %}
            <div class="menu-item">
                <a class="menu-link {% if menu.selected is defined %}active{% endif %}" href="{{ path(menu.ruta) }}">
                    <span class="menu-bullet">
                        <span class="bullet bullet-dot"></span>
                    </span>
                    <span class="menu-title">{{ menu.nombre }}</span>
                </a>
            </div>
        {% endif %}
    {% endfor %}
{% endmacro %}

