{% extends 'base.html.twig' %}
{% import 'macro/breadcrumb.html.twig' as breadcrumb %}
{% import 'macro/action.html.twig' as action %}
{% import 'macro/pagination.html.twig' as pagination %}

{% set _title = 'Menu' %}
{% set _main_title = 'Listado' %}
{% set _section =  'menu_index' %}

{% block _breadcrumb %}
    {{ breadcrumb.show(_title) }}
{% endblock %}

{% block _main %}
    {{ pagination.pager(paginator, _section) }}
    {% embed 'macro/_table.html.twig' %}
        {% block table_head %}
            {% import 'macro/action.html.twig' as action %}
            <tr>
                {{ action.th('#') }}
                {{ action.th('Padre', true) }}
                {{ action.th('Nombre', true) }}
                {{ action.th('Ruta', true) }}
                {{ action.th('Icono', true) }}
                {{ action.th('Insignia', true) }}
                {{ action.th('Orden', true) }}
                {{ action.th('Activo', true, 'text-center') }}
                <th></th>
            </tr>
        {% endblock %}
        {% block table_body %}
            {% import 'macro/action.html.twig' as action %}
            {% for menu in paginator.results %}
                <tr>
                    <td>{{ loop.index | index (paginator)}}</td>
                    <td>{{ menu.parent}}</td>
                    <td>{{ menu.name }}</td>
                    <td>{{ menu.route }}</td>
                    <td><i class="{{ menu.icon }}"></i> {{ menu.icon }}</td>
                    <td>{{ menu.badge }}</td>
                    <td class="text-center">{{ menu.ranking }}</td>
                    <td class="text-center">{{ menu.activo | yesno_custom | raw }}</td>
                    <td class="float-end">
                        {% if access.has('show', menu) %}
                            {{ action.btn_show_link2_ico(path('menu_show', {'id': menu.id})) }}
                        {% endif %}
                        {% if access.has('edit', menu) %}
                            {{ action.btn_edit_link2_ico(path('menu_edit', {'id': menu.id})) }}
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">No hay registros</td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}

    {{ pagination.show(paginator, _section) }}
{% endblock %}

{% block _main_footer %}
    {% include 'crud/_index_links.html.twig' with {'route_base': 'menu'} %}
{% endblock%}

{% block _body_tools %}
    {% include 'crud/_index_links_ico.html.twig' with {'route_base': 'menu'}  %}
{% endblock %}

{% block _stylesheets %}
{% endblock %}

{% block _javascripts %}
    <script src="{{ asset('js/crud/list.js') }}"></script>
    <script>
        $(document).ready(function () {
            CRUDList.init('{{ path('menu_index') }}');
        });
    </script>
{% endblock %}